- name: Criar sistema de arquivos no LV
  community.general.filesystem:
    fstype: xfs
    dev: /dev/vg_lab_claro/lv_lab_claro
  register: resultado_fs

- name: Criar ponto de montagem
  ansible.builtin.file:
    path: /lab_claro
    state: directory
    mode: "0755"

- name: Adicionar ao fstab
  ansible.posix.mount:
    path: /lab_claro
    src: /dev/vg_lab_claro/lv_lab_claro
    fstype: xfs
    opts: defaults
    state: mounted